*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9em;
  font-weight: normal;
}



/* INTERAZIONI */

.menu-active-li::after{
  content: "";
  display: block;
  height: 2px;
  width: 30px;
  background-color: lightgreen;
  margin: 3px auto;
}

/* da dare al contenitore per centrare verticalmente */
.aline-center {
display: flex;
flex-direction: row;
align-items: center;
}

/* grandezza icone e immagini */
.icon-size {
  height: 28px;
}

.album-listening {
  height: 40px;
}

/* per i testi associati vicino a icona o immagine */
.margin-left {
  margin-left: 15px;
}

/* utility */

.margin-text {
  margin: 10px 0px;
}

.truncate {
  text-overflow: ellipsis;
  /* Needed to make it work */
  overflow: hidden;
  white-space: nowrap;
}

.margin-bordi{
  margin: 0px 20px;
}

/* regole macro */

/* .container {

  height: calc(100vh - 89px);
  display: flex;
  flex-direction: row;
} */


#aside-section {
  background-color: blue;
  height: calc(100vh - 89px);
  float: left;
  width: 240px;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}


#center-section {
  background-color: lightblue;
  height: calc(100vh - 89px);
  width: calc(100% - 240px);
  float: right;
  overflow-y: auto;
  z-index: 5;
}

#bottom-section {
  /* background-color:  #282828; */
  border: red 1px solid;
  height: 89px;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 10;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* #bottom-section {
} */


/* regole sezioni centrali */

.getpremium {
  background-color: violet;
  height: 89px;
  width: calc(100% - 240px);
  position: fixed;
  top: 0px;
  right: 0px;
}


/* sezione aside */

#menu-aside {
 background-color: lightblue;
 height: 200px;
 width: 95%;
 margin-right: 5%;
 margin-top: 20px;
 padding-left: 20px;
 flex-shrink: 0;
}

.menu-aside-logo{
  background-color: black;
  /* height: 40px; */
  width: 100%;
}

.menu-aside-logo img{
  width: 150px;
  margin: 5px 0px;
}

.menu-aside-ul, .menu-playlist-aside, .menu-center-ul {
  list-style: none;
}

.margin-text li{
  margin: 10px 0px;
}

#playlist-aside {
 background-color: lightyellow;
 width: 80%;
 padding-left: 20px;
 /* height: calc(100% - 280px) ; */
 height: 100%;
 overflow: hidden;
}

/* #playlist-aside ul {
  overflow: auto;
  height: 300px;

} */
.menu-playlist-aside {
  overflow-y:  auto;
  height: calc(100%-50px);
}

#user-footer {
 background-color: lightgreen;
 height: 90px;
 width: 95%;
 padding-left: 20px;
 flex-shrink: 0;
}

#user-footer button{
  background-color: rgba(255, 0, 0, 0.0);
  border: 0;
}

#user-footer img{
  background-color: rgba(255, 0, 0, 0.0);
  border: 2px;
padding: 3px;
  border-radius: 50%;
  background-color: grey;
}

.user-install, .user-profile {
  display:  flex;
  flex-direction: row;
  align-items: center;
}


.addplaylist p{
  background-color: lightgrey;
  margin: 6px 9px;
  padding-left: 4px;
  transform: scale(2);
  width: 17px;
  height: 17px;
}

/* .menu-playlist-aside {
 overflow: auto;

} */

/* SEZIONE BANNER */

#getpremium button {
  float: right;
  margin: 24px 5px;
  padding: 10px 30px;
  border: 2px white solid;
  border-radius: 15px;
  background-color: rgba(255, 0, 0, 0.0);
}


/* SEZIONE CENTRALE */

.head-section {
  margin-bottom: 10px;
}

#menu-center{
  margin-top: 100px;
  margin-bottom: 30px;
}

#menu-center ul{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}

#menu-center ul li{
margin: 10px 10px;
}


.album-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left:-10px;
  margin-right: -10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* ALBUM */

.album{
  display: flex;
  flex-direction:column;
  margin-left: 8px;
  margin-right: 8px;
  flex-basis: 15%;
  background-color: lightgrey;
  border-radius: 10px;
  margin-bottom: 10px;

}

.album > * {
  padding-left: 15px;
  padding-right: 15px;

  /* margin-left: auto;
  margin-right: auto; */
  display: -webkit-box;
  -webkit-line-clamp:2;
  -webkit-box-orient:vertical;
  overflow: hidden;
}

.album img {
  width: 100%;
  padding-top: 15px;
  margin-bottom: 15px;
}

.album h4{
  font-size: 1.1em;
  margin-bottom: 6px;

}

.album h5{
  margin-bottom: 15px;

}

/* MEDIAQUERY ALBUM */
@media screen and (max-width: 1535px) {

  .album{
    flex-basis: 20%;

  }

}
@media screen and (max-width: 1335px) {

  .album{
    flex-basis: 30%;

  }

}

@media screen and (max-width: 1110px) {

  .album{
    flex-basis: 30%;

  }

}

@media screen and (max-width: 980px) {

  .album{
    flex-basis: 42%;

  }

}

@media screen and (max-width: 850px) {

  .album{
    flex-basis: 45%;

  }

}

@media screen and (max-width: 760px) {

  .album{
    flex-basis: 90%;

  }

}

/* @media screen and (max-width: 570px) {

  .album{
    flex-basis: 90%;

  }

} */

/* SEZIONE MOSTPOP */
#mostpop img{
  border-radius: 50%;
}
/* sezione bottom */



#left-footer {

}
